@{
    ViewData ["Title"] = "Home Page";
}


<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
-->
<div class="jumbotron bg-secondary">
    <h1 class="text-center text-success font-weight-bold">College Village</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2 class="text-center text-info font-italic">Lorem</h2>
        <p>ljkdflkjb kjblvbalbflg vuhaiu evkj jbjlkbr hkbhelkrbv lkblkjbl kjbfdvljdbf lkjvbjdabfv lkjbalkjb dvflkba</p>
    </div>
    <div class="col-md-4">
        <h2 class="text-center text-info font-italic">Lorem</h2>
        <p>ljkd flkjbvk jblvbal bflgvu ha iue vkj jbjlkb rhk bhelkrb vlkbl kjblkj bfdv ljdb flkjv bjda bfvl kjbal kjbdv flkba</p>
        <p><a class="btn btn-outline-info btn-sm" href="https://www.google.com/">Buscar Información</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="text-center text-info font-italic">Lorem</h2>
        <p>lj kd fl kj bvkjb lvba lbfl gvuha iuevk j jb jlkb rhkbh elkr bvlkb lkjb lkjb fdvl jdbf lkjvb jda bfvlk jbal kjbdv flkba</p>
        <p><a class="btn btn-outline-info btn-sm" href="https://www.youtube.com/">Buscar Imágenes</a></p>
    </div>
</div>
